* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

h1, h2 {
    margin-bottom: 16px;
}

ul {
    list-style: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar, .header {
    background-color: #1f2937;
    color: #f9faf8;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

